%h1 Listing products

%table
  %tr
    %th Title
    %th Description
    %th Status
    %th Multiple variant
    %th Sale price
    %th Origin price
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.status
      %td= product.multiple_variant
      %td= product.sale_price
      %td= product.origin_price
      %td= link_to 'Show', admin_product_url(product)
      %td= link_to 'Edit', edit_admin_product_url(product)
      %td= link_to 'Destroy', admin_product_url(product), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_admin_product_url
